body{
    margin: 0;
    box-sizing: 0;
}

.logo{
    margin: 0.3rem;
    width: 10rem;
    height: 5rem;
}

@font-face{
   font-family: Fragmento; src: url(fuentes/fragment_core/Fragmentcore.otf);
   
}

:root{
    --color__header: #2a2e3862;
    

}

.header{
    background-color: var(--color__header);
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 6rem;
    backdrop-filter: blur(.1rem);/*con esta funcion se difumina lo que pase por detras del header*/
}

.headerLista{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.headerLista__elemento{
    margin: 0 1rem; 
    font-family:monospace;
    font-size: 15px;
    color: white;
    cursor: pointer;
}

.headerNav{
    display: flex;
    align-items: center;

}

.header__burguer{
    
    cursor: pointer;/*cambiamos al dedo*/
    background-color: transparent;
    border: none;  /*con este le quitamos el recuadro que esta alrededor del menu burguer */
    font-size: 1.3rem;
    padding: 0 1rem;
    display: none;
    
}

/* aqui va el responsi */
@media screen and (max-width:768px) {
  
    .header__burguer{
        display: block;
    }

    .headerLista{
        display: none;
    }

    .header{
        flex-direction: column;
        align-items: center;
    }

    .headerNav{
        flex-direction: column;
        text-align: center;
    }
}

/* MAIN */

/* .presentacionFoto{
    width: 20rem;
    height: 15rem;
     border: 2rem solid black; 
    border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	transition:all 1s;

} */

.presentacionFoto{
    width: 150rem;
    height: 100rem;
}



.presentacionContainer {
	width: 30%;
	height: 60%;
	box-sizing: border-box;
	border: 5px white solid;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
	img { width: 100%; height: 74vh; }
}




.presentacion{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('/public/cole.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}


/* .presentacionContainer{
    padding: 6rem;
    width: 150px;
	height: 150px;
	box-sizing: border-box;
	border: 5px white solid;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
	img { width: 100%; height: auto; }
} */

.presetacionNombre{
    padding: 6rem;
    
}

.nombre{
    font-size: 50px;
    position: relative;
    font-family: Fragmento;
    
}

.nombre::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
}

.nombre:hover::before{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.nombre::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: #2a2e3865;
    z-index: -1;
    transition: transform .3s ease;
  }
  
  

.profesion{
    margin: 0 5rem;
    font-size: 20px;
    align-items: center center; 
    font-family: Fragmento;
}

/* RESPONSIVE */




/* section interés */

.sectionInteres{
    background-color: wheat;
    background-position: center center;
    background-size: cover;
    height: 20rem;
    display: flex;
    align-items: center;
    /* margin-top: 3rem; */
    font-family: Fragmento;
}

.sectionInteres__titulo{
    font-size: 2rem;
    
}

.sectionInteres__datos{
    width: 95%;
    max-width: 120rem;
    margin: 0 auto; 
    
}

.parrafo{
    font-size: 1.5rem;
}

.subra{
    color: #5D7B6E; /*aqui subrayamos a lo que nos dedicamos para que sea mas facil y rapido la busqueda del cliente*/
}

.button{
    background-color: #5D7B6E;
    color: #ffffff;
    /* font-weight: 70vh; */
    text-decoration: none;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    margin-top: 1rem;
    display: inline-block;
    text-align: center;
    border: none;
    font-family: Fragmento;
}    


/* CARDS */

.sectionCards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #5D7B6E;
}

.sectionCards__container{
   position: relative;
   width: 300px;
   height: 350px;
   margin: 0 5rem;
}
    
.sectionCards__card{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.sectionCards__delante{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px black;
}

.lenguaje{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
 
}

.lenguaje__nombre{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: wheat;
    background-color: rgba(0, 0, 0, .4);
    text-align: center;
    font-family: Fragmento;
}

.sectionCards__atras{
    transform: perspective(600px) rotateY(180deg);
    background: rgb(3, 35, 54);
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px;
}

.link{
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
}

.detalles{
    color: #f3f3f3;
}

.lenguaje__nombreAtras{
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
    font-family: Fragmento;
}

.lenguaje__parrafo{
    letter-spacing: 1px;
    font-family: Fragmento;
}

.sectionCards__container:hover .sectionCards__delante{
    transform: perspective(600px) rotateY(180deg);
    

}

.sectionCards__container:hover .sectionCards__atras{
    transform: perspective(600px) rotateY(360deg);

}



/* FORMULARIO */

.sectionFormulario{
    padding: 0 1.5rem;
    background-color: rgb(179, 159, 122);
    font-family: Fragmento;
}    
    
.containerFormulario{
    max-width: 73rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5rem;
}

.fornularioTitulo{
    text-align: center;
    font-size: 3rem;
}

.formularioInfo{
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3) ;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.formularioContacto{
    margin: 1rem;
}
.formularioCompletar{
    padding: 1rem;
    background-color: #5D7B6E;
    color: white;
}

.containerContacta{
    background-color: wheat;
}

.formularioCompletar__form{
    display: grid;
    grid-template-columns: 1fr 1fr; /*aqui con display grid vamos aplicar dos columnas para el formulario*/
}

.forumularioParrafo{
    margin: 0.5rem;
    padding: 1rem;
   
}
     


.formularioBoton, .formularioInput{
    width: 100%;
    padding: .7rem;
    border: none;
    background: none;
    border-bottom: 1px solid wheat;
    outline: 0;
    color: white;
}

.botonFormulario{
    background-color: wheat;
    border: 0;
    text-transform: uppercase; /*aqui le aplicamos la letra mayuscula al boton*/
    color: #5D7B6E;
    padding: 1rem;
}

.formularioBoton:hover, .formularioBoton:focus{
    background-color: rgb(179, 159, 122);
    color: white;
    transition: background-color 1s ease-out; /*aportamos suavida a la hora del cambio de color en el boton*/
    outline: 0;
}
.excepcionFormulario{
    grid-column: 1 / 3;  /* con esto hacemos que el boton caiga al final del formulario */
}

/* AHORA VAMOS CON LA PARTE DE MI INFORMACION PERSONAL */

.containerContacta{
    text-align: center;
    margin:  0 1rem 0;

}

.contactaLista{
    list-style: none;
    padding: 0;
    
}

.contactaLista__elemento{
    padding: 0.3rem;
}

/* RESPONSIVE FORMULARIO */

@media (max-width:700px) {
    .sectionFormulario{
        padding: 0 4rem;
    }
    .formularioInfo{
        display: block;
        
    }
    .formularioCompletar{
        padding: 2rem;
    }
}


/* FOOTER */

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center ;
    padding: 2rem 0;
    margin:  0;
    background-color: #5D7B6E;
}

.footer__listaSocials{
    display: flex;
    align-items: center ;
    list-style-type: none;
    margin: 0 0 0 40rem;
    padding: 0;
}

.footer__elementoSocial{
    margin: 0 1.3rem;
    cursor: pointer;
}



